img {
    width: 369px;
}
body
{
    text-align : center;
    background: orange;
    color: blue;
}
p1 {
  font-family: "Times New Roman", Times, serif;
}
p2 {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-family: "Times New Roman", Times, serif;
}    
